# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

resources/
RetroPanel Front/export/
RetroPanel Module/export/
RetroPanel Side/export/
faceplates/RetroPanel FP1/export/
faceplates/RetroPanel FP2/export/
RetroPanel SD35VC0/export/
RetroPanel SD35VC0 Front/export/
