# For PCBs designed using KiCAD: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.zip

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

resources/
BulkyModem Module/export/
BulkyModem Module Panel/export/
BulkyModem UserPort Adapter/export/
faceplates/BulkyModem FA1/export/
faceplates/BulkyModem FP1/export/